

    <div class="split left">
      <div class="center">
        <button mat-button (click)="goToInbox(newUser.id)"> Go to inbox</button>
<div></div>

      <button mat-button color="primary" class="matbtn" (click)="leaveChat()">Leave chat</button>
      </div>
  
  </div>
<div class="split right">
  <div class="centered" >
  <h2 >{{newChat.chatName}}</h2>
  <div class="chat-container">
      <div class="chat">
        <mat-list-item role="listitem" *ngFor="let m of messagesofChat"><span>{{m.time}}: {{m.userName}} : {{m.textMessage}}</span><button  (click)="deleteMessage(m.id)" class="mat-button" mat-button> delete</button>
        </mat-list-item>
          <div class="message">
        <mat-list-item role="listitem" *ngFor="let m of messagesOfRoom"><span>{{m.time}}: {{m.userName}} : {{m.textMessage}}</span><button   (click)="deleteMessage(m.id)" class="mat-button" mat-button> delete</button>
        </mat-list-item>
     
         
        </div>

      </div>
    </div>
    <mat-form-field appearance="outline" class="matform">
      <mat-label>Send</mat-label>
      
      <input type="text"  (keyup.enter)="sendMessage(input.value)" onfocus="this.value=''" #input matInput placeholder="Press enter"  autocomplete="off">
      </mat-form-field>
  </div>
</div>